# ignore everything:
*

# then allow explicitly:

# git:
!.gitignore

# sources:
!include
!src
!test
!include/*.h
!src/*.cpp
!test/*.h
!test/*.cpp

# CMake:
!CMakeLists.txt

# Eclipse:
!.project
!.cproject

# documentation:
!img
!img/*
!README.md
