# ignore everything:
*

# then allow explicitly:

# git:
!.gitignore

# sources:
!include
!src
!test
!include/*.h
!include/*.cuh
!src/*.cpp
!src/*.cu
!test/*.h
!test/*.cu
!test/*.cpp

# CMake:
!CMakeLists.txt
!CodeCoverage.cmake

# documentation:
!img
!img/*
!README.md
